@page "/Account/AccessDenied"

    <h1>Access Denied</h1>
    <hr />
    <h3>Sorry, you're not authorized to perform this action</h3>
    <p>You may want to try logging in <a href="Logout">(as someone with the necessary authorization)</a></p>
